<ol id="menu">

  <li class="active_menu_item"><a href="/">Home</a></li>
  <li><a href="#">About</a>
    <!-- sub menu -->
    <ol>
      <li><a href="magazine.html">Contact</a></li>
      <li><a href="full-width.html">About us</a></li>
      <li><a href="columns.html">Privicy Policy</a></li>
    </ol>
  </li>
  <!-- END sub menu -->
  <li><a href="">Tournaments</a>
    <ol>
      <li><a href="/tournaments/">Find a Tournament</a></li>
      <li><a href="/my-account/create-tournament/">List A Tournament</a></li>
    </ol>
  </li>
  <li><a href="">Recommended Media</a>
    <ol>
      <li><a target="_blank" href="http://www.mikeiaconelli.com/ike_live.php">IKE Live</a></li>
      <li><a target="_blank" href="http://www.flwfishing.com/tips/2015-02-26-flw-podcast-66-l">FLW OUTDOORS</a></li>
      <li><a target="_blank" href="https://itunes.apple.com/podcast/bass-edges-the-edge/id214330677?mt=2">BASS EDGE</a></li>
    </ol>
  </li>
  <li><a href="/brags">Bragging Board</a>
  </li>
  <li><a href="">Guides</a>
    <ol>
      <li><a href="/tournaments/">Become a Guide</a></li>
      <li><a href="/my-account/create-tournament/">Find a Guide</a></li>
    </ol>
  </li>

</ol>