<div style="height:300px">
<center><h1>Guide Services Coming Soon!!!</h1>

  <h4>Features</h4>
  <ul>
    <li>Register as a guide to find new clients</li>
    <li>Search for local guides</li>
    <li>Schedule Trips</li>
    <li>Keep track of past clients</li>
  </ul>

</center>
</div>